.wrapper{
	position: relative;
	min-height: 100%;
}
.container {
	width: 1100px;
	margin: auto;
	padding: auto;
}
.title {
	background-color: red;
	text-align: center;
}
.flexbox {
	display: flex;
}
.flex1 {
	width: 33.33%;
	background-color: yellow;
	text-align: center;
}
.flex2 {
	width: 33.33%;
	background-color: blue;
}
.flex3 {
	width: 33.33%;
	background-color: palevioletred;
	text-align: center;
}
.footer {
	background-color: yellowgreen;
	text-align: center;
}
